<!doctype html>
<html lang="en">
    <head>
        <title>Job Application Form</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <h1>Job Application Form</h1>
        <form>
            <div>
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required>
            </div>
            <div>
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="startDate">Available start date:</label>
                <input type="date" id="startDate" name="startDate" required>
            </div>
            <div>
                <label>Current Occupation:</label>
                <br>
                <div id="occupation">
                    <input type="radio" id="employed" name="occupation" required>
                    <label for="employed">Employed</label>

                    <input type="radio" id="unemployed" name="occupation" required>
                    <label for="unemployed">Unemployed</label>

                    <input type="radio" id="self-employed" name="occupation" required>
                    <label for="self-employed">Self-employed</label>

                    <input type="radio" id="student" name="occupation" required>
                    <label for="student">Student</label>
                </div>
            </div>
            <div>
                <button type="button">Submit</button>
            </div>
        </form>
    </body>
</html>